@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?61274770');
  src: url('../font/fontello.eot?61274770#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?61274770') format('woff2'),
       url('../font/fontello.woff?61274770') format('woff'),
       url('../font/fontello.ttf?61274770') format('truetype'),
       url('../font/fontello.svg?61274770#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?61274770#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-mail:before { content: '\e800'; } /* '' */
.icon-search:before { content: '\e801'; } /* '' */
.icon-picture:before { content: '\e802'; } /* '' */
.icon-th-large:before { content: '\e803'; } /* '' */
.icon-home:before { content: '\e804'; } /* '' */
.icon-link:before { content: '\e805'; } /* '' */
.icon-cancel-circled:before { content: '\e806'; } /* '' */
.icon-menu:before { content: '\e807'; } /* '' */
.icon-download:before { content: '\e808'; } /* '' */
.icon-print:before { content: '\e809'; } /* '' */
.icon-trash:before { content: '\e80a'; } /* '' */
.icon-share-1:before { content: '\e80b'; } /* '' */
.icon-phone:before { content: '\e80c'; } /* '' */
.icon-list:before { content: '\e80d'; } /* '' */
.icon-link-1:before { content: '\e80e'; } /* '' */
.icon-cc:before { content: '\e80f'; } /* '' */
.icon-zoom-in-outline:before { content: '\e810'; } /* '' */
.icon-zoom-out:before { content: '\e811'; } /* '' */
.icon-location-circled:before { content: '\e812'; } /* '' */
.icon-phone-circled:before { content: '\e813'; } /* '' */
.icon-phone-1:before { content: '\e814'; } /* '' */
.icon-search-1:before { content: '\e815'; } /* '' */
.icon-location:before { content: '\e816'; } /* '' */
.icon-th-list-1:before { content: '\e817'; } /* '' */
.icon-mail-1:before { content: '\e818'; } /* '' */
.icon-search-2:before { content: '\e819'; } /* '' */
.icon-cancel-circle:before { content: '\e81a'; } /* '' */
.icon-ok-circle:before { content: '\e81b'; } /* '' */
.icon-star-empty:before { content: '\e81c'; } /* '' */
.icon-heart-empty:before { content: '\e81d'; } /* '' */
.icon-star:before { content: '\e81e'; } /* '' */
.icon-heart:before { content: '\e81f'; } /* '' */
.icon-thumbs-up:before { content: '\e820'; } /* '' */
.icon-heart-1:before { content: '\e821'; } /* '' */
.icon-heart-empty-1:before { content: '\e822'; } /* '' */
.icon-star-1:before { content: '\e823'; } /* '' */
.icon-star-empty-1:before { content: '\e824'; } /* '' */
.icon-cancel:before { content: '\e825'; } /* '' */
.icon-check:before { content: '\e826'; } /* '' */
.icon-layout:before { content: '\e827'; } /* '' */
.icon-thumbs-up-1:before { content: '\e828'; } /* '' */
.icon-dot-3:before { content: '\e829'; } /* '' */
.icon-list-1:before { content: '\e82a'; } /* '' */
.icon-instagram-3:before { content: '\e82b'; } /* '' */
.icon-heart-2:before { content: '\e82c'; } /* '' */
.icon-bookmark:before { content: '\e82d'; } /* '' */
.icon-spin5:before { content: '\e838'; } /* '' */
.icon-th-list:before { content: '\f009'; } /* '' */
.icon-download-cloud:before { content: '\f015'; } /* '' */
.icon-download-1:before { content: '\f02e'; } /* '' */
.icon-bookmark-empty:before { content: '\f097'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-upload-cloud:before { content: '\f0ee'; } /* '' */
.icon-direction:before { content: '\f124'; } /* '' */
.icon-thumbs-up-alt:before { content: '\f164'; } /* '' */
.icon-youtube-squared:before { content: '\f166'; } /* '' */
.icon-youtube:before { content: '\f167'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-dropbox:before { content: '\f16b'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-cc-visa:before { content: '\f1f0'; } /* '' */
.icon-cc-mastercard:before { content: '\f1f1'; } /* '' */
.icon-cc-amex:before { content: '\f1f3'; } /* '' */
.icon-copyright:before { content: '\f1f9'; } /* '' */
.icon-facebook-official:before { content: '\f230'; } /* '' */
.icon-cc-jcb:before { content: '\f24b'; } /* '' */
.icon-creative-commons:before { content: '\f25e'; } /* '' */
.icon-commenting-o:before { content: '\f27b'; } /* '' */
.icon-envelope-open:before { content: '\f2b6'; } /* '' */
.icon-envelope-open-o:before { content: '\f2b7'; } /* '' */
.icon-instagram-1:before { content: '\f31e'; } /* '' */
.icon-instagram-filled:before { content: '\f31f'; } /* '' */
.icon-visa:before { content: '\f328'; } /* '' */
.icon-mastercard:before { content: '\f329'; } /* '' */
.icon-instagram-2:before { content: '\f32d'; } /* '' */
.icon-dropbox-1:before { content: '\f330'; } /* '' */